.contorno {
    width: 360px;
    height: 360px;
    background-color: grey;
  border-radius: 5%;
  box-shadow: -5px 3px 5px grey;
}

.Calcolatrice {
  line-height: 1.5;
 overflow:hidden;
  text-align: center;
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5%;

  font-size: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "ris ris ris ris"
    "plus minus mult div"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zeroo dott ac equal";
}

.somma,
.sottrazione,
.moltiplicazione,
.divisione {
    padding: 5px;
    border-right: 2px solid grey;
  background-color: aquamarine;
  
}

.divisione{
    border-right: none;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zeroo,
.dot,
.AC {
    padding: 5px;
  background-color: azure;
 border-top: 2px solid grey;
border-right: 2px solid grey
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zeroo;
}

.dot {
  grid-area: dott;
}

.ac {
  grid-area: ac;
}

div.risultato {
    background-color: rgba(32, 31, 31, 0.221);
    padding: 5px;
  grid-area: ris;
  padding-right: 12px;
  text-align: end;
  grid-column: 1 / span 4;
}

div.uguale {
      padding-top: 100%;
  background-color: coral;
  grid-area: equal;
  grid-row: 3 / span 6;
  border-top: 2px solid grey;
}
